<div id="<%= dom_id shift %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Starts at:</strong>
    <%= shift.starts_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Ends at:</strong>
    <%= shift.ends_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Position:</strong>
    <%= shift.position %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location:</strong>
    <%= shift.location.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Assigned employee:</strong>
    <%= shift.assigned_employee.name %> (<%= shift.assigned_employee.position %>)
  </p>

</div>
